.env
_pycache_
data
venv
*.session.sql
data_with*
*.env
.env*
myenv
bin
include
lib
lib64
*.html
utils/__pycache__
connection_config.json
parquet_files
nasdaq
trades
pipeline_logs
logs
*.csv
__pycache__/
*.parquet
*.log