services:
  market-database-services-staging:
    build:
      dockerfile: ./postgres.Dockerfile
    container_name: market-database-staging
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${PGPORT_EXT}:${PGPORT}"
    volumes:
      - ./data_with_premarket_staging:/var/lib/postgresql/data
      #- "./pg_hba.conf:/var/lib/postgresql/data/pg_hba.conf"
      - ./scripts:/DB_init_scripts
      - ./scripts:/docker-entrypoint-initdb.d

  market-database-api-service-staging:
    image: postgrest/postgrest:latest
    container_name: market-database-api-staging
    restart: always
    environment:
      PGRST_DB_URI: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${PGHOST}:${PGPORT}/${POSTGRES_DB}
      PGRST_DB_ANON_ROLE: ${PGRST_DB_ANON_ROLE}
      PGRST_JWT_SECRET: ${PGRST_JWT_SECRET}
      PGRST_DB_SCHEMA: ${PGRST_DB_SCHEMA}
      #PGRST_SERVER_HOST: "0.0.0.0"
      #PGRST_SERVER_PORT: 3000
    ports:
      - "3030:3000"
    depends_on:
      - market-database-services-staging
  python-api-service-staging:
    labels:
      ofelia.enabled: "true"
      ofelia.job-exec.fetch.schedule: "20 23 * * 1-5"
      ofelia.job-exec.fetch.command: "sh -c 'python small_caps_strategies/data_update.py'"

    build:
      dockerfile: ./python.Dockerfile
    container_name: python-api-service-staging
    ports:
      - "${API_PORT_EXT}:${API_PORT}"
    volumes:
      - .:/app
      - ${STOCK_MARKET_PARQUET_PATH}:/parquet_files # Mount X11 socket
    restart: always
    environment:
      - API_KEY=${API_KEY}
      - API_PORT_EXT=${API_PORT_EXT}
      - API_PORT=${API_PORT}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_NAME=${DB_NAME}
      - POSTGREST_URL=${POSTGREST_URL}
      - POSTGREST_TOKEN=${POSTGREST_TOKEN}
      - POSTGREST_P=${POSTGREST_P}
      - POSTGREST_H=${POSTGREST_H}
    command: sh -c "python /app/main.py & tail -f /dev/null"
    network_mode: "host" # Required for DISPLAY to work properly
    depends_on:
      - market-database-api-service-staging
  ofelia:
    image: mcuadros/ofelia:latest
    depends_on:
      - python-api-service-staging
    command: daemon --docker
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./logs:/var/log
    labels:
      #      ofelia.job-local.my-test-job.schedule: "@every 5s"
      #      ofelia.job-local.my-test-job.command: "date"
      ofelia.save-folder: /var/log
    environment:
      - TZ=America/New_York
